.enquiry-hall {
  position: relative;
  .enquiry-hall-bg {
    background-color: #eee !important;
    position: absolute;
    height: 180px;
    background-image: url('@/assets/svg/EnquiryHall/background.svg');
    width: 100%;
  }
  .enquiry-hall-content {
    width: 1200px;
    margin: 60px auto 0;
    position: relative;
    .enquiry-hall-filter {
      height: 48px;
      background: #fff;
      border-radius: 6px;
      width: 100%;
      padding: 8px 12px;
      display: flex;
      align-items: center;
    }
    .enquiry-hall-item {
      background: #fff;
      border-radius: 6px;
      margin-top: 10px;
      min-height: 128px;
      padding: 20px 24px;
      position: relative;
      font-size: 14px;
      font-weight: 400;
    }
  }
}
