.enquiry-hall {
  position: relative;
  // overflow: hidden;
  .enquiry-hall-bg {
    background-color: #eee !important;
    position: absolute;
    height: 180px;
    background-image: url('@/assets/svg/EnquiryHall/background.svg');
    width: 100%;
  }
  .enquiry-hall-content {
    width: 1200px;
    margin: 60px auto 0;
    position: relative;
    .enquiry-hall-filter {
      height: 48px;
      background: #fff;
      border-radius: 6px;
      width: 100%;
      padding: 8px 12px;
      display: flex;
      align-items: center;
    }
    .enquiry-hall-filter-is-sticky {
      z-index: 99;
      width: 1200px;
      margin: 0 auto 30px;
      position: fixed;
      top: 46px;
      height: 48px;
      background: #fff;
      border-radius: 6px;
      padding: 8px 12px;
      display: flex;
      align-items: center;
      margin: 0;
    }
    .enquiry-hall-item {
      background: #fff;
      border-radius: 6px;
      margin-top: 10px;
      min-height: 128px;
      padding: 20px 24px;
      position: relative;
      font-size: 14px;
      font-weight: 400;
      .enquiry-hall-item-price {
        position: absolute;
        bottom: 0px;
        right: 24px;
        transform: translateY(4px);
        min-width: 350px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}
:global {
  .ant-drawer-footer {
    padding: 0 !important;
  }
  .ant-cascader-menu {
    overflow-y: auto !important;
    max-height: 200px !important;
  }
}
