.dragArea {
  width: 800px;
  height: 40px;
  background: transparent;
  float: left;
  position: absolute;
  z-index: 99999;
  -webkit-app-region: drag;
  cursor: pointer;
}
.login-container {
  // font-size: $text-fontSize;
  // color: $test-color;
  background-color: #eee !important;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 550px;
  // height: calc(100% - 66px);
  height: 100%;
  min-height: 500px;
  background-image: url('@/assets/svg/login/background.svg');
  background-position: 50%;
  background-size: 100% 100%;
  .login-box {
    // display: flex;
    border-width: 0;
    width: 480px;
    height: 560px;
    background: #ffffff;
    box-shadow: 0px 2px 24px 0px #d8e2fa;
    border-radius: 24px;

    .login-title {
      font-family: PingFangSC, PingFang SC;
      font-weight: 600;
      font-size: 28px;
      color: #1f1f1f;
      text-align: center;
      font-style: normal;
      margin: 70px auto 50px;
    }

    .login-left {
      border-width: 0;
      width: 330px;
      height: 540px;
      display: flex;
      flex-direction: column;
      text-align: center;
      font-family: '微软雅黑', sans-serif;
      font-weight: 400;
      font-style: normal;
      line-height: 24px;
      background-image: url('@/assets/svg/login/left.svg');
      background-position: 50%;
      background-size: 100% 100%;
    }

    .login-form {
      border-width: 0;
      // width: 420px;
      // height: 460px;
      display: flex;
      flex-direction: column;
      padding: 0 24px;
      // font-family: '微软雅黑', sans-serif;
      font-weight: 400;
      font-style: normal;
      text-align: left;
      line-height: 24px;
      flex: 1;
      .login-form-item {
        display: flex;
        align-items: center;
        height: 52px;
        line-height: 52px;
        background: #f5f7fa;
        border-radius: 6px;
        margin: 0;
        width: 100%;
        margin-bottom: 16px;
      }
      .customer-input {
        border: none;
        background: transparent;
        border: none !important;
        outline: none !important;
        box-shadow: unset;
      }
      .customer-input::after {
        border: none !important;
      }
      .customer-input::before {
        border: none !important;
      }
      .customer-input:active {
        border: none !important;
      }
      :global {
        .ant-form-item-required::before {
          display: none !important;
        }
        .ant-input-affix-wrapper {
          font-weight: 400 !important;
          font-size: 14px !important;
          // color: #bfbfbf !important;
        }
        .ant-form-item {
          margin: 0 !important;
          width: 100% !important;
        }
        .ant-form-item-required {
          font-weight: 500;
          font-size: 14px;
          color: #1f1f1f;
        }
        .ant-form-item-additional {
          position: absolute;
          margin-left: 12px;
          bottom: -7px;
        }
        .ant-form-item-explain-error {
          font-size: 12px;
        }
      }
    }
  }
}
